/* header basket */
.header {
  &__basket {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__basket-icon {
    transition: all .2s ease-in-out;

    &:hover {
      opacity: .75;
      transition: all .2s ease-in-out;

      fill: $white;
    }
  }

  &__basket-amount {
    position: absolute;
    top: 68%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    color: $white;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    opacity: 0;
    transition: all .2s linear;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

/* header basket end*/