/*! whatsapp tooltip */
.whatsapp {
  &__tooltip {
    position: relative;
    right: 0;
    bottom: 0;

    &::before {
      right: -32px;
      bottom: -85px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      width: 200px;
      height: 60px;
      border-radius: 4px;
      background: $whatsapp;
      box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .25);
      color: $white;
      content: attr(data-title);
      text-align: center;
      font-size: 13px;
      line-height: 1.3;
    }

    &::before, &::after {
      position: absolute;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      transition: all .2s ease-in-out;
      -webkit-transform: translateY(20%);
              transform: translateY(20%);
    }

    &::after {
      right: -21px;
      bottom: -26px;
      border-top: 5px solid $whatsapp;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: "";
      transition: all .1s ease-in-out;
      -webkit-transform: translateY(200%) rotate(180deg);
              transform: translateY(200%) rotate(180deg);
    }
  }

  &:hover .whatsapp__tooltip::before {
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  &:hover .whatsapp__tooltip::after {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(0%) rotate(180deg);
            transform: translateY(0%) rotate(180deg);
  }
}

/*! whatsapp tooltip end */