.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(#000000, .75);
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &::before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
  }

  &__inner {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    width: 500px;
    vertical-align: middle;
  }

  &__content {
  }

  &__header {
  }

  &__footer {
  }

  &__button-close {
  }
}