.modal {
  max-width: 600px;
  max-height: 400px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);

  &__inner {
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease-in-out;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

.modal__close::after, .modal__close::before {
  position: absolute;
  top: 50%;
  right: 50%;
  display: block;
  width: 32px;
  height: 3px;
  border-radius: 4px;
  background: #444444;
  content: "";
  transition: .2s ease-in-out;
}

.modal__close::before {
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.modal__close::after {
  -webkit-transform: translate(50%, -50%) rotate(135deg);
          transform: translate(50%, -50%) rotate(135deg);
}

.modal__close:hover {
  transition: .2s ease-in-out;
  -webkit-transform: rotate(90deg) scale(1);
          transform: rotate(90deg) scale(1);
}

.modal__close:hover::after, .modal__close:hover::before {
  background: #ffffff;
  transition: .2s ease-in-out;
}

.modal__close:active {
  transition: .2s ease-in-out;
  -webkit-transform: rotate(90deg) scale(.76);
          transform: rotate(90deg) scale(.76);
}

.modal__close:active::before, .modal__close:active::after {
  background: #444444;
  transition: .2s ease-in-out;
}

@media screen and (max-width:576px) {
  .modal__close {
    top: 10px;
    right: 10px;
  }
}