.modals-content {
  visibility: hidden;
  width: 0;
  height: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1001;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
  min-height: 150px;
  max-width: calc(100% - 20px);
  max-height: 100vh;
  width: 600px;
  height: 400px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  cursor: auto;
  transition: all .2s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  &-fade-in {
    -webkit-animation: modal-fade-in .3s;
            animation: modal-fade-in .3s;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &-active {
      visibility: visible;
      background: rgba(0, 0, 0, .5);
      opacity: 1;
      transition: all .2s ease-in-out;
    }
  }
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9;
  z-index: 1002;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease-in-out;

  &::after, &::before {
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 4px;
    background: $grey;
    content: "";
    transition: .2s ease-in-out;
  }

  &::before {
    -webkit-transform: translate(50%, -50%) rotate(45deg);
            transform: translate(50%, -50%) rotate(45deg);
  }

  &::after {
    -webkit-transform: translate(50%, -50%) rotate(135deg);
            transform: translate(50%, -50%) rotate(135deg);
  }

  &:hover::after, &:hover::before {
    background: $accent;
    transition: .2s ease-in-out;
  }

  &:active::before, &:active::after {
    background: lighten($grey, 10%);
    transition: .2s ease-in-out;
  }

  &:active::after {
    -webkit-transform: translate(50%, -50%) rotate(135deg) scale(.76);
            transform: translate(50%, -50%) rotate(135deg) scale(.76);
  }

  &:active::before {
    -webkit-transform: translate(50%, -50%) rotate(45deg) scale(.76);
            transform: translate(50%, -50%) rotate(45deg) scale(.76);
  }
}

@-webkit-keyframes modal-fade-in {
  0% {
    top: calc(50% - 50px);
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes modal-fade-in {
  0% {
    top: calc(50% - 50px);
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}