@mixin font-face($path, $font-family, $weight: normal) {
  @font-face {
    font-weight: $weight;
    font-style: normal;
    font-family: $font-family;
    src: url("#{$path}.woff2") format("woff2"),
    url("#{$path}.woff") format("woff");
  }
}