// ==================== FONTS =======================

$default-font: Verdana,
Tahoma,
Geneva,
sans-serif;

// =================== COLORS =======================

$black: black;
$white: white;
$pagebg: #f5f5f5;
$accent: #ff6363;
$grey: #49525c;
$main: #313131;
$whatsapp: #41c352;
$phone: #2591f5;
$form-info__tooltip: $grey;