.wrapper {
  overflow: hidden;
}

.img-wrap {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: auto;

  & img {
    max-width: 100%;

    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*! top form prices */
.price-block {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
  padding: 20px 0 0 0;
  max-width: 260px !important;
  width: 260px;
  color: #272727;
  font-size: 18px;
}

.price {
  &--new {
    color: #ed4700;
    font-weight: bold;
    font-size: 42px;
  }

  &--old {
    position: absolute;
    top: 0;
    right: 0;
    color: #272727;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    &:after {
      position: absolute;
      top: 55%;
      left: 50%;
      display: block;
      width: 100%;
      height: 2px;
      background: #f43b00;
      content: '';
      transform: translate(-50%, -50%);
    }
  }
}
/*! top form prices end */

/*! banner */
.banner {
}
/*! banner end */

/*! about */
.about {
}
/*! about end */

/*! form */
.form {
  &__title {
    margin: 75px 0 0 0;
    color: #3e3e3e;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    &--color {
      color: #d30007;
    }
  }
}

#form #form__wrapper .btn.call_btn.form-submit.submit_btn {
  border-radius: 6px;
  background: linear-gradient(138.37deg, #ff0008 7.35%, #d20006 92.65%) !important;
  box-shadow: 0 4px 16px rgba(255, 73, 73, .3);
  transition: all .2s linear;
}
#form #form__wrapper .btn.call_btn.form-submit.submit_btn:hover {
  border-radius: 6px;
  background: linear-gradient(138.37deg, #e60008 7.35%, #cc0007 92.65%) !important;
  transition: all .2s linear;
}
#form #form__wrapper .btn.call_btn.form-submit.submit_btn:active, #form .btn.call_btn.form-submit.submit_btn:focus {
  border-radius: 6px;
  background: linear-gradient(138.37deg, #cc0007 7.35%, #b30006 92.65%) !important;
  transition: all .2s linear;
}

/*! form end */

/*! comments */
#comments .button {
  margin: 30px auto 0;
  width: 60%;
}

.comments {
  display: flex;
  flex-direction: column;
  background: url(../img/comments/comments-bg.jpg) center/cover no-repeat;

  &__wrap {
    padding: 25px 0;
  }

  &__inner {
    padding: 60px 70px 40px 50px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: -4px 4px 28px rgba(189, 145, 95, .2);
  }

  &__title {
    padding-bottom: 50px;
    color: #000000;
    text-align: center;
    font-weight: 800;
    font-size: 26px;
  }

  &__button {
    margin: 45px auto 0;
    max-width: 400px;
    width: 100%;
  }
}

.comment {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;

  &--booma {
    padding-left: 100px;
  }

  &--booma .comment__image-wrap {
    margin-top: 0;
  }

  &--booma .comment__image {
    width: 30px;
  }

  &__image {
    width: 50px;
  }

  &__image-wrap {
    margin-top: -10px;
    margin-right: 10px;
  }

  &__text-wrap {
    padding: 7px 40px 7px 15px;
    border-radius: 23px;
    background: #eff1f3;
    font-size: 15px;
    line-height: 24px;
  }

  &__name {
    color: #5370a6;
    font-weight: 700;
  }

  &__text {
    color: #000000;
    font-weight: 400;
  }

  &__buttons {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 12px;
  }

  &__button {
    padding-right: 10px;
    color: #d7d7d7;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
  }

  &__days {
    color: #989898;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
  }
}

.like {
  position: absolute;
  top: 15%;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 42px;
  height: 23px;
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 0 4px 3px rgba(0, 0, 0, .17);
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #1d89e4;
  }

  &__counter {
    padding: 2px 2px 2px 7px;
    color: grey;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
  }
}

@media screen and (max-width: 768px) {
  .comments {
    &__button {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 576px) {
  .comments {
    &__wrap {
      padding: 0;
    }

    &__inner {
      padding: 15px;
      padding: 30px 15px;
      border-radius: 0;
      box-shadow: unset;
    }

    &__title {
      padding: 25px 0 30px;
    }

    &__button {
      margin: 30px auto;
      min-width: 260px;
    }
  }

  .comment {
    padding: 0 0 20px;
    &--booma {
      padding-left: 32px;
    }

    &__text-wrap {
      padding: 7px 15px;
    }
  }

  .like {
    right: -15px;
  }
}

/*! comments end*/

/*! buttons */
.button-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 15px 50px;
  max-width: 250px;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  background-size: 300% 100%;
  box-shadow: 0 4px 10px 0 rgba(49, 196, 190, .75);
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-position: 100% 0;
    transition: all .2s ease-in-out;
  }

  &:focus, &:active {
    outline: none;
    background-position: 50% 0;
    box-shadow: 0 -2px 5px 0 rgba(49, 196, 190, .75);
    transition: all .2s ease-in-out;
  }
}

$button-bg: #9346c9;
$button-border: #9346c9;
$button-text: #ffffff;
$button-shadow: rgba(0, 0, 0, .25);

.button {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  margin-top: 30px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  color: $button-bg;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  transition: .2s linear;
  &::after, &::before {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: 110%;
    height: 110%;
    border: 2px solid $button-border;
    content: '';
    transition: .2s linear;
  }
  &::before {
    top: -5%;
    left: -5%;
  }
  &::after {
    top: 0;
    left: -5%;
  }
  &:hover::after, &:hover::before {
    transition: .2s linear;
    transform: translateY(120%);
  }
  &:focus, &:active {
    outline: 0;
    box-shadow: 0 -2px 5px 0 $button-shadow;
    transition: .2s linear;
  }
  &--pearl {
    border: 2px solid $button-bg;
    background: $button-text;
    color: $button-text;
  }
  &--pearl::before {
    background: $button-bg;
  }
  &--pearl::after {
    background: $button-bg;
  }
  &--pearl:hover {
    color: $button-bg;
  }
}
@media screen and (max-width: 992px) {
  .button {
    padding: 10px 0;
    font-size: 22px;
  }
}
@media screen and (max-width: 576px) {
  .button {
    font-size: 20px;
  }
}
/*! buttons end*/

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 375px) {
}
