/*! form-price*/
.form-price {
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__text {
    max-width: 80px;
    color: $accent;
    font-size: 18px;
    line-height: 105%;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
  }

  &__price--new {
    color: $accent;
    font-weight: 700;
    font-size: 42px;
    line-height: 1;
  }

  &__price--old {
    position: absolute;
    top: -50%;
    right: 0;
    color: $grey;
    font-weight: 400;
    font-size: 20px;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: $grey;
      content: "";
      -webkit-transform: translateY(calc(-50% - 1px));
              transform: translateY(calc(-50% - 1px));
    }
  }
}

/*! form-price end*/

/*! installment-plan*/
.installment-plan {
  padding: 10px 0 20px;
  color: $grey;

  & span {
    font-weight: bold;
  }
}

/*! installment-plan end*/

/*! form__tabs */
.form {
  &__wrapper {
    padding: 30px 0 0 0;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
  }

  &__tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 -1px 0;
    padding: 15px;
    min-height: 70px;
    width: 47%;
    border-right: 1px solid lighten($grey, 50%);
    border-left: 1px solid lighten($grey, 50%);
    border-radius: 5px 5px 0 0;
    background: $grey;
    color: $grey;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;

    &-discount {
      font-weight: 700;
      font-size: 36px;
      line-height: 1;
    }

    & svg path {
      min-width: 36px;

      fill: $white;
    }

    & span {
      margin: 0 0 0 10px;
      max-width: 80px;
      color: $white;
    }

    &.active {
      width: 53%;
      border-top: 3px solid #1773e1;
      background: $white;

      &-discount {
        color: $grey;
      }

      & svg path {
        fill: $grey;
      }

      & span {
        color: $grey;
      }
    }
  }

  &__tabs-content {
    padding: 25px 15px 15px 15px;
    border-top: 1px solid lighten($grey, 50%);
    border-right: 1px solid lighten($grey, 50%);
    border-bottom: 1px solid lighten($grey, 50%);
    border-left: 1px solid lighten($grey, 50%);
    background: $white;

    & input {
      margin: 15px 0 5px 0;
      padding: 12px 0 12px 10px;
      width: 100%;
      border: 1px solid lighten($grey, 50%);
      border-radius: 2px;
      background-color: $pagebg;
      font-size: 14px;
    }
  }

  &__tabs-subtitle {
    color: #525252;
    font-size: 14px;
    line-height: 22px;
  }
}

#or {
  width: 15%;
}

@include media-breakpoint-down(xs) {
  .form {
    &__tab {
      padding: 5px;

      & span {
        margin: 0;
      }

      & svg {
        margin: 0 3px 0 0;
      }
    }

    &__tabs-content {
      margin: 0 5px;
    }
  }

  #or {
    width: 18%;
  }
}