  /*! POPUP STYLES */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(73, 82, 92, .75);
  opacity: 0;
  transition: all .7s cubic-bezier(1, -.65, .49, 1.38);
  pointer-events: none;
}

.overlay:target {
  opacity: 1;
  transition: all .7s cubic-bezier(1, -.65, .49, 1.38);
  pointer-events: auto;
}

.overlay:target+.popup {
  top: 50%;
  transition: all .7s cubic-bezier(1, -.65, .49, 1.38);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  ;
}

.popup {
  position: fixed;
  top: -100%;
  left: 50%;
  z-index: 99999;
  overflow: hidden;
  max-width: 750px;
  max-height: 650px;
  width: 98%;
  height: 98%;
  border-radius: 4px;
  box-shadow: 0 0 50px 5px rgba(73, 82, 92, .5);
  transition: all .7s cubic-bezier(1, -.65, .49, 1.38);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.takanon_popup .popup {
  direction: rtl;
}

.takanon_popup .popup__title {
  margin: 0 0 0 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.takanon_popup .popup__inner-text {
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.popup__header {
  position: relative;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  padding: 13.5px;
  background: #49525c;
}

.dataPrivacyCookies .popup__header {
  justify-content: space-between;
}

.popup__title {
  color: #ffffff;
  vertical-align: middle;
  font-weight: 700;
  font-weight: 700;
  font-size: 16px;
  line-height: 43px;
}

.takanon_popup .popup__inner-title {
  padding: 20px 0 10px;
  text-align: right;
}

.popup__title--mod {
  padding: 0 2px 0 7px;
  color: #0066ff;
  font-weight: 700;
  font-size: 32px;
}

.popup__close-button {
  position: absolute;
  top: 50%;
  right: 11px;
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup__close-button::after, .popup__close-button::before {
  position: absolute;
  top: 50%;
  right: 50%;
  display: block;
  width: 20px;
  height: 3px;
  background: #ffffff;
  content: "";
  transition: all .3s ease-in-out;
}

.popup__close-button::before {
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.popup__close-button::after {
  -webkit-transform: translate(50%, -50%) rotate(135deg);
          transform: translate(50%, -50%) rotate(135deg);
}

.popup__close-button:hover::after, .popup__close-button:hover::before {
  background: #ff6363;
  transition: all .3s ease-in-out;
}

.popup__close-button:hover::before {
  -webkit-transform: translate(50%, -50%) rotate(135deg);
          transform: translate(50%, -50%) rotate(135deg);
  -webkit-animation: close .3s ease-in-out;
          animation: close .3s ease-in-out;
}

.popup__close-button:hover::after {
  -webkit-transform: translate(50%, -50%) rotate(225deg);
          transform: translate(50%, -50%) rotate(225deg);
  -webkit-animation: close .3s ease-in-out;
          animation: close .3s ease-in-out;
}

.popup__inner {
  overflow-y: scroll;
  margin: 0 auto;
  padding: 30px 45px;
  height: 88%;
  background: #ffffff;
  color: #000000;
}

.popup__inner::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background: rgba(73, 82, 92, .25);
}

.popup__inner::-webkit-scrollbar-thumb {
  padding: 1px;
  border-radius: 3px;
  background: rgba(255, 99, 99, 1);
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}

.popup__inner::-webkit-scrollbar-thumb:hover {
  padding: 1px;
  border-radius: 3px;
  background: rgb(210, 85, 85);
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}

.popup__inner-title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.popup__inner-title--mod {
  color: #0066ff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.popup__inner-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.popup__inner-row {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  padding: 30px;
}

.popup__inner-img-wrap {
  display: flex;
  overflow: hidden;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  min-height: 55px;
  height: auto;
}

.popup__inner-img {
  max-width: 100%;
}

.popup__inner-desc {
  min-height: 52px;
  color: #000000;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.popup__inner-desc--red {
  color: red;
}

.popup__inner-desc--blue {
  color: #0066ff;
  text-align: center;
  font-weight: 700;
}

.popup__inner-desc--bold {
  padding: 30px 0 0 0;
  color: #000000;
  text-align: center;
  font-weight: 700;
}

@-webkit-keyframes close {
  0% {
    width: 24px;
  }

  50% {
    width: 3px;
  }

  100% {
    width: 24px;
  }
}

@keyframes close {
  0% {
    width: 24px;
  }

  50% {
    width: 3px;
  }

  100% {
    width: 24px;
  }
}

.total .popup {
  height: auto;
}

.total .popup__inner {
  overflow-y: auto;
}

.total .popup__inner-row {
  padding: 15px 30px 0 30px;
}

.total .popup__inner-row:nth-child(2) .popup__inner-col {
  min-height: 128px;
}

.total .popup__inner-title {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
}

.total .popup__inner-title:nth-child(6) {
  padding: 15px 0 0 0;
}

.total .popup__inner-title:nth-child(8) {
  padding: 15px 0 0 0;
}

.total .popup__inner-title:nth-child(8) div {
  display: flex;
  align-items: flex-start;
  -ms-flex-align: start;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 15px;
}

.total .popup__inner-col {
  position: relative;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% / 3);
  text-align: center;
}

.total .popup__inner-desc {
  min-height: auto;
  max-width: 170px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.total .popup__inner-desc--top {
  min-height: 40px;
}

.total .popup__inner-desc--bold {
  font-weight: 700;
}

.total .popup__inner-desc--blue {
  color: #0066ff;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.total .popup__inner-desc--small {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  color: #5f5f5f;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.aboutUs .popup {
  height: auto;
}

.aboutUs .popup__inner {
  overflow-y: auto;
}

.aboutUs .popup__inner-row {
  flex-direction: column;
  padding: 30px 30px 0 30px;
}

.aboutUs .popup__inner-col {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aboutUs .popup__inner-desc {
  min-height: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.aboutUs .popup__inner-desc--bold {
  font-weight: 700;
}

.payment .popup {
  height: auto;
}

.payment .popup__inner {
  overflow-y: auto;
}

.payment .popup__inner-row {
  padding: 30px 0 0 0;
}

.payment .popup__inner-col {
  width: calc(100% / 4);
}

.payment .popup__inner-desc {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  min-height: 52px;
}

.delivery .popup {
  height: auto;
}

.delivery .popup__inner {
  overflow-y: auto;
}

.delivery .popup__inner-row {
  padding: 30px 0 0 0;
}

.delivery .popup__inner-col {
  width: calc(100% / 3);
}

.delivery .popup__inner-desc {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  min-height: 52px;
}

.dataPrivacyPolicy .popup__header, .dataPrivacyCookies .popup__title {
  justify-content: flex-start;
}

.dataPrivacyPolicy .popup__title {
  margin: 0 0 0 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.popup__title-wrapper {
  width: 47%;
}

.dataPrivacyCookies .popup__title {
  margin: 0 auto;
  width: 80%;
}

.dataPrivacyPolicy .popup__inner {
  padding: 20px 30px;
}

.dataPrivacyPolicy .popup__inner-title, .dataPrivacyCookies .popup__inner-title {
  padding: 10px 0;
  text-align: left;
}

.dataPrivacyPolicy .popup__inner-text:nth-child(2) {
  padding-bottom: 10px;
}

@media screen and (max-height:620px) {
  .total .popup {
    height: 98%;
  }

  .total .popup__inner {
    overflow-y: scroll;
    height: 88%;
  }
}

@media screen and (max-width:768px) {
  .popup {
    max-height: 98%;
  }

  .popup__inner {
    padding: 15px;
    height: 85%;
  }

  .popup__inner-title {
    font-size: 15px;
  }

  .popup__inner-title svg {
    display: none;
  }

  .popup__inner-text {
    text-align: left;
    -webkit-hyphens: auto;
            hyphens: auto;
    font-size: 14px;

        -ms-hyphens: auto;
  }

  .takanon_popup .popup__inner-text {
    text-align: right;
  }



  .popup__inner-desc {
    font-size: 14px;
  }

  .popup__inner-row {
    padding: 30px 0 15px 0;
  }

  .popup__header svg {
    margin: 0;
  }

  .popup__title {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }

  .popup__title--mod {
    margin: 0;
    font-size: 26px;
  }

  .popup__close-button {
    top: 15px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .total .popup__header {
    padding: 15px 35px 15px 15px;
  }

  .total .popup__inner-row {
    padding: 15px 0 0 0;
  }

  .total .popup__inner-row:nth-child(2) .popup__inner-col {
    min-height: 128px;
  }

  .total .popup__inner-desc {
    max-width: none;
    font-size: 14px;
  }

  .total .popup__inner-desc--top {
    min-height: 40px;
  }

  .total .popup__inner-desc--blue {
    font-size: 32px;
  }

  .total .popup__inner-desc--small {
    font-size: 10px;
  }

  .aboutUs .popup__inner-row {
    padding: 30px 0 15px 0;
  }

  .dataPrivacyPolicy .popup__title {
    text-align: left;
  }
}

@media screen and (max-width:576px) and (max-height:750px) {
  .total .popup {
    height: 98%;
  }

  .total .popup__inner {
    overflow-y: auto;
    height: 88%;
  }

  .total .popup__inner-row:nth-child(2) .popup__inner-col {
    min-height: 168px;
  }

  .total .popup__inner-title {
    font-size: 14px;
  }

  .total .popup__inner-title svg {
    display: none;
  }

  .total .popup__inner-desc {
    max-width: 88px;
    font-size: 12px;
  }

  .total .popup__inner-desc--top {
    min-height: 60px;
  }

  .total .popup__inner-desc--blue {
    font-size: 24px;
  }

  .total .popup__inner-desc--small {
    max-width: none;
    font-size: 10px;
  }
}

@media screen and (max-width:414px) and (max-height:750px) {
  .total .popup__inner {
    height: 89%;
  }
}

@media screen and (max-width:320px) and (max-height:700px) {
  .total .popup__inner {
    height: 82%;
  }
}

/*! POPUP STYLES END*/
