.modals-content {
  visibility: hidden;
  width: 0;
  height: 0;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1001;
  display: flex;
  overflow: hidden;
  min-height: 150px;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  cursor: auto;
  transition: all .2s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  &-fade-in {
    -webkit-animation: modal-fade-in .3s;
            animation: modal-fade-in .3s;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &-active {
      visibility: visible;
      background: rgba(0, 0, 0, .5);
      opacity: 1;
      transition: all .2s ease-in-out;
    }
  }

  &__inner {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9;
  z-index: 1002;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease-in-out;

  &::after, &::before {
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 4px;
    background: $grey;
    content: "";
    transition: .2s ease-in-out;
  }

  &::before {
    -webkit-transform: translate(50%, -50%) rotate(45deg);
            transform: translate(50%, -50%) rotate(45deg);
  }

  &::after {
    -webkit-transform: translate(50%, -50%) rotate(135deg);
            transform: translate(50%, -50%) rotate(135deg);
  }

  &:hover::after, &:hover::before {
    background: $accent;
    transition: .2s ease-in-out;
  }

  &:active::before, &:active::after {
    background: lighten($grey, 10%);
    transition: .2s ease-in-out;
  }

  &:active::after {
    -webkit-transform: translate(50%, -50%) rotate(135deg) scale(.76);
            transform: translate(50%, -50%) rotate(135deg) scale(.76);
  }

  &:active::before {
    -webkit-transform: translate(50%, -50%) rotate(45deg) scale(.76);
            transform: translate(50%, -50%) rotate(45deg) scale(.76);
  }
}

@-webkit-keyframes modal-fade-in {
  0% {
    top: calc(50% - 50px);
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes modal-fade-in {
  0% {
    top: calc(50% - 50px);
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}


.modal-info, .modal-rtl {
  width: 750px;
  height: 600px;

  & .modal__inner {
    max-height: calc(600px - 70px);
  }

  & .modal__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    height: 70px;
    background: $grey;
  }

  .modal__close {
    top: 20px;
    right: 10px;

    &::before, &::after {
      background: $white;
    }

    &:hover::after, &:hover::before {
      background: $accent;
      transition: .2s ease-in-out;
    }

    &:active::before, &:active::after {
      background: darken($white, 10%);
      transition: .2s ease-in-out;
    }
  }

  & .modal__title {
    flex: 1 0 auto;
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
  }

  & .modal__inner {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 25px 25px 25px;
  }

  & h5 {
    display: inline-block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }

  & p {
    padding: 0 0 10px 0;
  }

  & p, & a {
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
  }

  & ul {
    margin: 0 0 10px 0;
  }

  & ul li {
    margin: 0 0 0 25px;
    list-style-type: disc;
    font-size: 14px;
    line-height: 150%;
  }
}

.modal-rtl {
  direction: rtl;

  & .modal__close {
    top: 20px;
    right: unset;
    left: 10px;
  }
}

@include media-breakpoint-down(xs) {
  .modal {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .modal-info .modal__inner, .modal-rtl .modal__inner {
    max-height: calc(100% - 70px);
  }

  .modal-info .modal__title, .modal-rtl .modal__title {
    flex: auto;
    font-size: 12px;
  }

  .modal-info .modal__title {
    margin: 0 20px 0 15px;
    text-align: left;
  }

  .modal-rtl .modal__title {
    margin: 0 15px 0 20px;
    text-align: right;
  }
}