/*! link title */
a[data-title] {
  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    padding: 2px 4px 4px;
    border-radius: 2px;
    background: darken($white, 10%);
    color: $grey;
    content: attr(data-title);
    font-size: 11px;
    line-height: 1;
    opacity: 0;
    transition: all .2s ease-in-out;
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
  }

  &:hover::after {
    opacity: 1;
    transition: all .2s ease-in-out;
  }
}

@include media-breakpoint-down(sm) {
  a[data-title] {
    &:hover::after {
      opacity: 0;
    }
  }
}
/*! link title end */