/*! Youtube Video */
.video {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
  border-radius: 10px;
  background: #000000;

  &--enabled {
    cursor: pointer;

    & .video__button {
      display: flex;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba($black, 0);
    cursor: pointer;
    transition: all .2s cubic-bezier(.455, .030, .515, .955);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  &:hover .play__triangle {
    transition: all .3s cubic-bezier(.455, .030, .515, .955);
    -webkit-transform: rotate(0deg) scale(1.2);
            transform: rotate(0deg) scale(1.2);
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;

    fill: $accent;
    fill-opacity: .85;
    stroke-width: 1px;
  }

  &:hover .play__circle {
    transition: all .2s cubic-bezier(.455, .030, .515, .955);

    stroke-width: 12px;
  }

  &:hover .video__button {
    box-shadow: 0 0 20px 0 rgba($black, .35);
    transition: all .2s cubic-bezier(.455, .030, .515, .955);
    ;
  }

  &__link:focus, &__link:active, &__button:focus, &__button:active {
    outline: 0;
  }
}



.play {
  &__circle {
    transition: all .2s cubic-bezier(.455, .030, .515, .955);
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;

    fill: $headerbg;
    fill-opacity: .75;
    stroke: $headerbg;
    stroke-width: 4px;
  }

  &__triangle {
    fill: $white;
    fill-opacity: .9;
    stroke: $headerbg;
    stroke-width: 0;
  }

  &__triangle {
    transition: all .3s cubic-bezier(.455, .030, .515, .955);
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
  }
}



/*! Youtube Video end*/