/*! =====================  Bootstrap  ====================== */

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

/*! ===================  Bootstrap end  ==================== */

/* ========================  Utils  ======================== */

@import "utils/_mixin_font-face";
@import "utils/fonts";

@import "utils/variables";

@import "utils/mixin_icon-halo";
@import "utils/_mixin_link-underline";

/* ======================  Utils end ======================= */

/*! =====================  Defaults  ======================= */

@import "utils/nulling";

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  height: 100%;
  font-size: 100%;

  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-size: 20px;
  font-family: $default-font;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

.header, .footer {
  flex: 0 0 auto;
}

.img-wrap {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: auto;

  & img, & svg, & picture {
    max-width: 100%;
    transition: all .2s linear;

    object-fit: cover;
  }
}

.section {
  position: relative;
  z-index: 1;
  padding: 100px 0;

  &__suptitle {
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 22px;
    font-family: $fontRobotoR;
    line-height: 40px;
  }

  &__title {
    color: $white;
    letter-spacing: .5px;
    font-size: 52px;
    font-family: $fontRubikB;
    line-height: 62px;

    &--mod {
      color: $accent;
    }
  }

  &__subtitle {
    color: #c4c4c4;
    text-align: center;
    font-size: 22px;
    font-family: $fontRobotoR;
    line-height: 35px;

    &--mod {
      color: $accent;
      text-transform: uppercase;
    }
  }
}

.content.active {
  margin: 0 0 0 80%;
}

.footer.active {
  margin: 0 0 0 80%;
}

/*! ===================  Defaults end  ===================== */

/* =====================  Blocks  ======================== */

@import "_link-title";

@import "./youtube";
@import "../../blocks/header/_button";
@import "../../blocks/header/_navigation-effect";
@import "../../blocks/form/_checkbox";

@import "../../blocks/header/_header";
@import "../../blocks/first-screen/_first-screen";
@import "../../blocks/form/_form";
@import "../../blocks/about/_about";
@import "../../blocks/students/_students";
@import "../../blocks/contents/_contents";
@import "../../blocks/bonus/_bonus";
@import "../../blocks/footer/_footer";
@import "../../blocks/lesson/_lesson";
@import "../../blocks/modal/_modal";

/*! parsley */
.parsley-errors-list.filled {
  position: absolute;
  bottom: -17px;
  left: 5px;
  padding: 0 6px 2px;
  border-radius: 0 0 4px 4px;
  background: #ff8100;
  color: #ffffff;
  font-size: 13px;
}

/*! parsley end */
/* ======================  Media  ========================= */

@import "media";